[submodule "docs/Nexus"]
	path = docs/Nexus
	url = https://github.com/Nexus-Mods/NexusMods.MkDocsMaterial.Themes.Next.git
[submodule "extern/SMAPI"]
	path = extern/SMAPI
	url = https://github.com/Pathoschild/SMAPI.git
	branch = stable
[submodule "src/NexusMods.App.Server/wwwroot/lib/htmx"]
	path = src/NexusMods.App.Server/wwwroot/lib/htmx
	url = git@github.com:bigskysoftware/htmx.git
