@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<a href="/FilesPage">All Files</a>

@foreach (var collectionRevision in Model.CollectionRevisions)
{
    <div>
        <a href="/collection/@collectionRevision.Id.Value">@collectionRevision.Collection.Name Revision @collectionRevision.RevisionNumber</a>
        <img src="/collection-image/@collectionRevision.Collection.Id.Value" alt="Image of the collection @collectionRevision.Collection.Name"/>
    </div>
}
